body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

.input-section, .income-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-section label, .income-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"], 
.input-section input[type="date"], 
.income-section input[type="number"], 
.income-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button, .income-section button {
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list, .income-list {
    margin: 20px;
}

.total-balance {
    background-color: rgb(215, 222, 38);
    font-weight: bold;
    margin-right: 10px;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(215, 222, 38);
    color: rgb(12, 1, 1);
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: rgb(238, 9, 9);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.download-container {
    text-align: center;
    margin-top: 20px;
}

#download-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#download-btn:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .input-section, .income-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-section label, .income-section label, 
    .input-section input[type="number"], 
    .input-section input[type="date"], 
    .income-section input[type="number"], 
    .income-section input[type="date"], 
    .input-section button, .income-section button {
        margin-bottom: 10px;
    }

    .input-section label, .income-section label {
        margin-right: 0;
    }

    .input-section button, .income-section button {
        align-self: center;
    }

    .expenses-list, .income-list {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none;
    }

    td {
        display: block;
        padding: 10px;
        text-align: right;
        position: relative;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }

    tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    tfoot td {
        text-align: left;
        padding-left: 10px;
    }
}
